.git
.gitignore
.env
.env.local
.env.*.local
.dockerignore
Dockerfile
docker-compose.yml
docker-compose.*.yml

node_modules
dist
coverage

.idea
.vscode
*.swp
*.swo

.DS_Store
Thumbs.db

*.log
npm-debug.log*

README.md
docs
